fastapi==0.110.1
uvicorn==0.29.0
pandas==2.2.2
openpyxl==3.1.2
sentence-transformers==2.6.1
torch==2.6.0
spacy==3.8.0
scikit-learn==1.6.1
transformers==4.50.3
requests==2.31.0
python-multipart==0.0.20
python-magic==0.4.27

